<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>
<body>
    
    <div id="app">

        <div class="container-background">
            <div class="aqua"></div>
        </div>

        <div class="container">
            
            <!-- sidebar -->
            
            <div class="side-bar">
                <div class="user">
                    <img src="../vue-js/img/avatar_io.jpg" class="user-photo">
                    <span>Nome Utente</span>
                    <div class="icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div> 
                </div>

                <div class="notification">
                    <i class="fas fa-bell-slash"></i>
                    <div>
                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                        <span class="underline">Attiva notifiche desktop</span>
                    </div>
                </div>

                <div class="search-chat">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" @keyup.enter="" class="research-chat">
                </div>

                <div class="container-contacts">
                    <ul>
                        <li 
                        v-for="(contact, i) in contacts"
                        @click="currentContact(i)"
                        :class="[i === currentIndex ? 'grey' : '']"
                         >
                            <div class="contact-list">
                                <img :src="'img/avatar' + contact.avatar + '.jpg'" class="contact-photo">
                                <span> {{ contact.name }} </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- main -->
        
            <div class="main">
                <div class="friend">
                    
                    <div class="chat-contact">  
                        <img :src="'img/avatar' + contacts[currentIndex].avatar + '.jpg'" class="contact-photo">
                        <div>
                            <span>{{ contacts[currentIndex].name }}</span>
                            </br>
                            <span>Ultimo accesso oggi alle</span>
                        </div>
                    </div>
                    
                    <div class="icons-chat">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <div class="chat">
                    <div v-for="(messages, i) in contacts">
                        
                        <div class="right">
                            <span class="message user-message">
                                {{ contacts[currentIndex].messages[messagesIndex].text }}   
                            </span>
                        </div>
        
                        <div class="left">
                            <span class="message friend-message">
                                {{ contacts[currentIndex].messages[messagesIndex].text }}
                            </span>
                        </div>
                        
                    </div>
                </div>     

                <!-- footer -->
                
                <footer class="footer">
                    <i class="far fa-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" @keyup.enter="">
                    <i class="fas fa-microphone"></i>
                </footer>
                
            </div>       
        </div>
            
    </div>

    <script src="js/script.js"></script>
</body>
</html>